body{
    background: url(../img/shirt.png);
    background-size: 50%;
    color: black;
}

header{
    width: 100%;
    height: 250px;
    background: url(../img/wood.png);
    background-size: cover;
    background-position: center;
}

.head_container{
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 18px;
    font-family: cursive;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header h2{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
}

.container{
    width: 1000px;
    margin: 0px auto;
}

.item01{
    width: 100%;
}

.item01 h1{
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.item01 img{
    width: 99%;
}

.about_item{
    text-align: center;
}

.about_item img{
    display: inline-block;
    width: 50%;
    height: 50%;
}

.name{
    font-size: 25px;
    font-family: "Impact";
    text-align: center;
}

.url_name{
    font-size: 17px;
}

.item02{
    width: 100%;
}

.item02 h2{
    font-size: 17px;
    text-align: center;
}

.item02 ul{
    list-style-type: none;
    padding-left: 0px;
}

.item02 li{
    border-bottom: 1px dotted black;
}

.article_container{
    display: flex;
    align-items: center;
}

.article_item{
    width: 50%;
}

.article_item img{
    width: 99%;
}

#en_icon {
    max-width: 200px;
    width: 100%;
    height: auto;
}

#fr_icon {
    max-width: 300px;
    width: 100%;
    height: auto;
}

#mufg_icon {
    max-width: 300px;
    width: 100%;
    height: auto;
}

#thing_icon {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.article_item p{
    text-align: center;
}

.article_item div{
    text-align: center;
}

footer{
    width: 100%;
    background: url(../img/brick.png);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 30px 0px;
}

footer h2{
    text-align: center; 
    font-size: 25px;  
}

.contact{
    text-align: center; 
    font-size: 16px;
}

a {
    color: #008000;
    text-decoration: none;
  }
  
a:hover {
  color: #ff6600;
  text-decoration: none;
}
  
