body{
    background: url(../img/universe.jpg);
    background-size: 100%;
    color: white;
}

header{
    width: 100%;
    height: 250px;
    background: url(../img/universe_2.jpg);
    background-size: cover;
    background-position: center;
}

header img{
    width: 55%;
}

.head_container{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 18px;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header h2{
    text-align: center;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-block;
    width: 150px;
    text-align: center;
    border-left: 1px dotted cornsilk;
}

.last{
    border-right: 1px dotted black;
}

.container{
    width: 1000px;
    margin: 0px auto;
}

.item01{
    width: 100%;
}

.item01 h1{
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid cornsilk;
}

.item01 img{
    width: 99%;
}

.about_item{
    text-align: center;
}

.about_item img{
    display: inline-block;
    width: 50%;
    height: 50%;
}

.name{
    font-size: 25px;
    font-family: "Impact";
    text-align: center;
}

.url_name{
    font-size: 17px;
}

.item02{
    width: 100%;
}

.item02 h2{
    font-size: 17px;
    text-align: center;
}

.item02 ul{
    list-style-type: none;
    padding-left: 0px;
}

.item02 li{
    border-bottom: 1px dotted black;
}

.article_container{
    display: flex;
    align-items: center;
}

.article_item{
    width: 47%;
}

.article_item img{
    width: 99%;
}

.article_item p{
    text-align: center;
}

.article_item div{
    text-align: center;
}

footer{
    width: 100%;
    background: url(../img/Engineer.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 30px 0px;
}

footer h2{
    text-align: center; 
    font-size: 25px;  
}

.contact{
    text-align: center; 
    font-size: 16px;
}

a {
    color: #47ef0a;
    text-decoration: none;
  }
  
a:hover {
  color: #ff6600;
  text-decoration: none;
}
  
